:root {
  --primary-color: #755cde;
  --summer-yelow: #f6a560;
  --pinc-color: #f39e9e;
  --light-red-color: #eb7565;
  --cyan-color: #61c4b7;
  --siyoh-color: #552049;
  --black-color: #030303;
  --medium-brown-color: #7a746e;
  --white-color: #fff7f0;
}
